.lesson__content,
.lesson__example__card {
  background: #e7e9eb;
  padding: 2rem 1rem;
  margin: 2rem 0;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);

  .paragraph__container,
  .lesson__example__card__content {
    background: #fff;
    padding: 0 1rem;
    // margin: 1rem 0;
    border-left: 4px solid #00b0ff;

    p {
      color: #000;
      font-weight: 400;
      margin: 0;
    }
  }
}

h2 {
  font-size: 25px;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.open__code {
  margin-top: 2rem;

  a {
    background: #00b0ff;
    color: #fff;
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      color: #000;
      background: var(--bg-color);
      border: 1px solid #00b0ff;
      cursor: pointer;
    }
  }
}
#notfound-wrapper{
  display:flex;
  justify-content: center;
}

img {
  max-height: 60vh;

}

app-back-button {
  margin-left: 35px;
}