.content__container {
    display: flex;
    flex-direction: row;

    .image__wrapper {
        background: #9ca8af;
        padding: 5rem;
        border-radius: 1rem;
        margin-right: 1rem;

        .image__container {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 80%;
                height: 80%;
            }
        }
    }

    .content__wrapper {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        margin: 0 5rem;

        // .logo__section {
        //     margin-bottom: rem;
        // }

        .active__tab {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            column-gap: 1rem;
            margin: 2rem 0;
            margin-bottom: 4rem;

            .active__current {
                border-top: 2px solid #00b0ff;
                color: #00b0ff;
                padding-top: 5px;
                font-size: 20px;
            }
            .not__active {
                border-top: 2px solid #9ca8af;
                padding-top: 5px;
                font-size: 20px;
            }
        }

        .input__section {
            width: 100%;

            input {
                outline: none;
                border: none;
                background: transparent;
                padding: 0.2rem 1rem;
                width: 100%;
                font-size: 1rem;
                font-weight: 400;
                
            }
            .fa{
                margin-top: 6px;
                margin-left: 5px;
            }
        }

        .forgot__section {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            label {
                margin-left: 5px;
            }

            label,
            p {
                color: #9ca8af;
                text-transform: capitalize;
            }

            p:hover {
                color: #00b0ff;
            }
        }

        .button__section {
            width: 100%;
            margin: 1rem 0;

            button {
                background: #00b0ff;
                color: #fff;
                font-size: 1rem;
                font-weight: 600;
                width: 100%;
                border: none;
                padding: 1rem;
                border-radius: 0.5rem;
                text-transform: uppercase;
            }
        }

        p {
            text-align: center;
            color: #9ca8af;
        }

        a {
            color: #00b0ff;
            text-decoration: none;
        }
    }
}

.form__group {
    width: 100%;
}

.input__group {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #9ca8af;
    margin-bottom: 2rem;

    i {
        font-size: 1rem;
        color: #9ca8af;
    }
}

.danger__text {
    margin-bottom: 1rem;

    p {
        color: red !important;
    }
}

@media screen and (max-width: 1050px) {
    .content__container {
        flex-direction: column;

        .image__wrapper {
            display: none;
        }

        .content__wrapper {
            width: 100%;
            margin: 0;
            justify-content: center;
        }
    }
}
