.course__container {
    position: relative;
    margin-top: 0 2rem;

    .course_img {
        position: absolute;
        z-index: 1;
        right: 0;
        padding-right: 2rem;
    }

    .course__content {
        position: absolute;
        color: var(--black-text);
        padding: 2rem;
        z-index: 100;
        top: 0;
        width: 75%;

        h2 {
            font-weight: 500;
            font-size: 30px;

            color: #00b0ff;
        }

        p {
            font-weight: 400;
            font-size: 20px;
        }
    }

    #notfound-wrapper{
        display:flex;
        justify-content: center;
    }
      
    .img1{
        max-height: 60vh;
      
    }
}

@media screen and (max-width: 1250px) {
    .course_img {
        padding-top: 2rem;
        height: 400px;
        margin-top: 4rem;
    }
}

@media screen and (max-width: 1050px) {
    .course_img {
        display: none;
    }

    .course__content {
        width: 100% !important;
    }
}

@media screen and (max-width: 768px) {
    .course_img {
        display: none;
    }

    .course__content {
        width: 100% !important;
    }
}
