button {
    font-size: 40px;
    background-color: transparent;
    border: none;
    // margin-left: 25px;
    margin-top: 20px;
}

button:hover {
    color: rgb(19, 166, 224);
}

@media (max-width: 400px) {
    button {
        font-size: 30px;
        font-weight: bold;
    }
}